
.step-item {
    height: 48px;
    border: 1px solid #d4d6d9;
    border-radius: 3px;
    margin: 8px 0;
    display: flex;
    cursor: pointer;
    position: relative;
    width: 100%;
    align-items: center;
    padding-right: 10px;

    &.disabled {
        cursor: not-allowed;
    }

    &:not(.disabled) &:hover {
        background: rgb(226, 236, 254);
        border: 1px solid var(--active-color);
        color: var(--active-color);

        > .icon {
            background-color: transparent;
        }
    }

    > .icon {
        background-color: rgb(233, 234, 236);
        font-size: 14px;
        font-weight: 700;
        width: 48px;
        text-align: center;
        line-height: 46px;
        border-radius: 2px;
    }

    > .main {
        .ellipsis-text;
        flex: 1;
        line-height: 46px;
        padding: 0 8px;
        box-sizing: border-box;
        max-width: calc(500px - 2 * 8px - 48px - 20px);
    }

    .close-button,
    .editing-button {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);

        &:hover {
            color: var(--theme-primary-color) !important;
        }

        &:focus {
            box-shadow: none !important;
        }

        &.editing-button {
            top: 50%;
            right: 0;
            width: 30px;
            transform: translate(80%, -50%);
            height: 30px;
            display: block;
            background: url('../../../../assets/edit.png') no-repeat center center/50%;
        }
    }
}
