.name-label {
    display: flex;
    align-items: center;
}

.variable-type-list-select {
    width: 100%;
}

.noah-textarea {
    width: 100%;
}

.time-out-input {
    width: 100% !important;
}

.upload-limit-container {
    display: flex;
    align-items: center;

    :global {
        .time-out-switch {
            margin-right: 8px !important;
        }
    }
}

:global(.noah-list-select) {
    width: 100%;
}
